{% extends 'main.twig' %}

{% block main %}
    <table>
        <tr>
            <th><a href="?orderBy=Name">Name</a></th>
            <th><a href="?orderBy=Country">Country</a></th>
            <th><a href="?orderBy=District">District</a></th>
            <th><a href="?orderBy=Population">Population</a></th>
        </tr>
        {% for city in cities %}
            <tr>
                <td>{{ city.Name }}</td>
                <td>{{ city.CountryName }}</td>
                <td>{{ city.District }}</td>
                <td>{{ city.Population }}</td>
            </tr>
        {%  else %}
            No cities have been found.
        {% endfor %}
    </table>
{% endblock %}