<!DOCTYPE html>
<html>
    <head>
		<title>Page Title</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
<body>
	<div class="button-container">
		<a href="php/countries.php">
			<div class="link left">
				<p>Countries</p>
			</div>
		</a>
		<a href="php/cities.php">
			<div class="link center">
				<p>Cities</p>
			</div>
		</a>
		<a href="php/languages.php">
			<div class="link right">
				<p>Languages</p>
			</div>
		</a>
	</div>
</body>
</html>